.detail-card {
    width: 500px;
    margin: auto;
    box-shadow: 0 0 20px grey;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    text-align: center;
}

.detail-property {
    margin-right: 100px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    
}